/* Below line is used for online Google font */
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
h2{
	text-align: center;
	font-size: 24px;
}
hr{
	margin-bottom: 30px;
}
div.container{
	width: 960px;
	height: 410px;
	margin:50px auto;
	font-family: 'Droid Serif', serif;
	position:relative;
}
div.main{
	position: absolute;
	width: 300px;
	//height: 200px;
	margin-top: 80px;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -150px;
	z-index: 15;
	//float:left;
	padding: 10px 55px 40px;
	background-color: rgba(255, 255, 255, 0.15);
	border: 15px solid white;
	box-shadow: 0 0 10px;
	border-radius: 2px;
	font-size: 13px;
}
div.details{
	width: 500px;
	padding: 10px 55px 40px;
	background-color: rgba(255, 255, 255, 0.15);
	border: 15px solid white;
	box-shadow: 0 0 10px;
	border-radius: 2px;
	font-size: 10px;
	font-family: 'Verdana';
}
.input2 {
	width: 97.7%;
	height: 34px;
	padding-left: 5px;
	margin-bottom: 20px;
	margin-top: 8px;
	box-shadow: 0 0 5px #00F5FF;
	border: 2px solid #00F5FF;
	color: #4f4f4f;
	font-size: 16px;
}
label{
	color: #464646;
	text-shadow: 0 1px 0 #fff;
	font-size: 10px;
	font-weight: bold;
}
.lable{
	color: #464646;
	text-shadow: 0 1px 0 #fff;
	font-size: 14px;
	font-weight: bold;
}

#login {
	width: 280px;
	background: linear-gradient(#22abe9 5%, #36caf0 100%);
	border: 1px solid #0F799E;
	font-size: 20px;
	margin-top: 15px;
	padding: 8px;
	font-weight: bold;
	cursor: pointer;
	color: white;
	text-shadow: 0px 1px 0px #13506D;
	text-align: center;
}
#login:hover{
	background: linear-gradient(#36caf0 5%, #22abe9 100%);
}

/*.profile{
    border: 3px solid #B7B7B7;
    padding: 10px;
    margin-top: 10px;
    width: 350px;
    background-color: #F7F7F7;
    height: 160px;
}
.profile p{margin: 0px 0px 10px 0px;}
.head{margin-bottom: 10px;}
.head a{float: right;}
.profile img{width: 100px;float: left;margin: 0px 10px 10px 0px;}
.proDetails{float: left;}*/

